body{
	font-size: 15px;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*清除浮动共通开始*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
/*清除浮动共通结束*/


/*a链接共通部分开始*/
a{
	color: #3c434a;
	text-decoration: none;
}

a.link:hover{
	color: #e3534c;
}
a.default{
	color: #e3534c;
}
/*a链接共通部分结束*/


/*动画共通部分开始*/
.transition{
	transition: all 0.5s;
}
/*动画共通部分结束*/


/*下拉层共通部分开始*/
.dropdown{
	position: relative;
}
.dropdown-layer{
	position: absolute;
	display: none;
}
.dropdown-left{
	left: 0;
}
.dropdown-right{
	right: 0;
}
/*下拉层共通部分结束*/

/*下拉层加载图片*/
.dropdown-loading{
	width: 80px;
	height: 60px;
	background-color: #fff;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}