/*顶部css开始*/
.top{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f3f5f7;
}
.top .top-left li{
	margin-right: 30px;
}
.top .top-right li{
	margin-right: 30px;
}
.top .dropdown-toggle{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.menu-active .dropdown-toggle{
	background-color: #fff;
}
.menu-active .dropdown-layer{
	display: block;
}
.menu-active .rotate{
	transform: rotate(180deg);
}
.dropdown-layer{
	white-space: nowrap;
	top: 50px;
	border-top: none;
}
.top .dropdown-layer li{
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	background-color: #fff;
}
.dropdown-layer li:hover{
	background-color: #f3f5f7;
}
/*顶部css结束*/

.search{
	width: 100%;
	height: 150px;
	background-color: pink;
}

.nav{
	width: 100%;
	height: 50px;
	background-color: black;
}

.content{
	width: 100%;
	height: 400px;
	background-color: yellow;
}

.floor{
	width: 100%;
	height: 200px;
	background-color: red;
}

