/*顶部css开始*/
.top{
	height: 50px;
	background-color: #f3f5f7;
}
.top .top-left li{
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}

/*将a标签高度占据整个li的高度*/
.top .dropdown-toggle{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.top .dropdown{
	margin-left: 15px;
}
.menu-active .dropdown-toggle{
	background-color: #fff;
}
.menu-active .dropdown-layer{
	display: block;
}
.menu-active .rotate{
	transform: rotate(180deg);
}
.dropdown-layer{
	white-space: nowrap;
	/*border: 1px solid #f3f5f7;*/
}
.top .dropdown-layer li{
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	background-color: #fff;
}
.dropdown-layer li:hover{
	background-color: #f3f5f7;
}
/*顶部css结束*/


.search{
	width: 100%;
	height: 150px;
	background-color: pink;
}

.nav{
	width: 100%;
	height: 50px;
	background-color: black;
}

.content{
	width: 100%;
	height: 400px;
	background-color: yellow;
}

.floor{
	width: 100%;
	height: 200px;
	background-color: red;
}

